/**
 *
 * Footer Styles
 *
 */

.footer-container {
	background-color: darken( $imb-third, 0% );
	// position: relative;
	// z-index: 0;
	// background: url('/wp-content/uploads/2017/06/heather-skulls.jpg') fixed;
	// border: 1rem solid red;
}
#footer-main {

	.left-content {
		// z-index: -100;
		border-top: .5rem solid $imb-secondary;
		padding-top: 1rem;

		h2 {
			font-size: 2rem;
			line-height: 2.5rem;
			padding-bottom: .5rem;

		}
		p {
			color: lighten( gray, 20% );
		}
		.footer-social {
			// border: 1rem dotted red;
			list-style: none;
			padding: 0;
			margin-top: 3rem;

			li {
				display: inline-block;
				border: 1px solid $imb-primary;
				width: 50px;
				height: 50px;

				i {
					padding-top: .5rem;
					padding-left: .5rem;
				}

				&:hover {
					background: white;
					// color: white;
				}
			}
		}

	}

	.right-content {
		border-top: .5rem solid $imb-secondary;
		padding-top: 1rem;

		h2 {
			font-size: 2rem;
			line-height: 2.5rem;
			padding-bottom: .5rem;

		}			

		.gravity-form {

			#gform_confirmation_wrapper_2 {
				color: greenyellow;
				padding-top: 10rem;
				font-size: 3rem;
				text-align: center;
			}			

			#gform_2 {
				// border: 1px solid red;
				padding-top: 5rem;
				
				ul {
					list-style: none;
					padding: 0;
				}


				.gfield_label {
					display: none;
					// color: $imb-third;
				}

				input {
					width: 100%;
					margin-bottom: 1rem;
					height: 40px;
				}
				textarea {
					width: 100%;
					margin-bottom: 1rem;
					height: 300px;
				}
				#gform_submit_button_2 {
					width: 100%;
					border-radius: 50px;
					background: $imb-primary;
					color: white;
				}

				.validation_error {
					color: yellow;
				}
				.validation_message {
					color: yellow;
				}

			}
		}
	}

	#copyright {
	
	}


}